body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.downloadHeader {
    position: fixed;
    float: left;
    z-index: 1;
    background-image: url(../assets/screenshots/game/monoMan3.png);
    width: 100%;
    height: 95vh;
    background-position: center center;
}

.Title {
    width: 100%;
    margin-top: 250px;
    text-align: center;
    font-size: 500%;
    background: -webkit-linear-gradient(300deg, #93F5EC 20%, #A77BF3 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contentContainer {
    position: absolute;
    margin-top: 100vh;
    z-index: 2;
    width: 100%;
    float: left;
    background: linear-gradient(180deg, #22272E 0%, #22272E 40%, #000000 98%);
}

.descrBtns {
    margin: 5% 10% 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    float: left;
}

.descrCaption {
    color: white;
    text-align: center;
    margin-top: 100px;
    width: 60%;
    margin-left: 20%;
    font-size: 200%;
}

.descrBtn {
    border-style: none;
    border-radius: 20px;
    background-color: #A77BF3;
    color: #93F5EC;
    font-size: 1em;
    font-weight: bolder;
}

.descrBtn:hover {
    background-color: #93F5EC;
    color: #A77BF3;
    cursor: pointer;
}

.descrBtn:nth-child(1) {
    padding: 24px 38px;
}

.descrBtn:nth-child(2) {
    padding: 24px 34px;
}

.video-wrapper {
    margin-top: 10%;
    width: 100%;
    float: left;
    height: 100vh;
}

.gameVideo {
    display: none;
}

.video {
    aspect-ratio: auto;
    width: 80%;
    max-width: 80%;
    height: 80%;
    margin-left: 10%;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 20px #192933);
}

.downloadSection{
    width: 100%;
    float: left;
}

.subTitle{
    color: white;
}

.downloadBox {
    width: 70%;
    margin-left: 15%;
}


@media screen and (max-width: 1010px) {

    .captionGame {
        top: 90%; /* Set the top to 50% of the parent container */
        transform: translate(-50%, -50%); /* Center both horizontally and vertically */
        color: white;
        position: absolute;
        z-index: 1;
        width: 80%;
        font-size: 1.2em;
        font-weight: normal;
        text-align: center;
        left: 50%;
    }


    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .descrBtn:nth-child(1) {
        margin-top: 10%;
        top: 90%;
        left: 20%;
    }

    .descrBtn:nth-child(2) {
        margin-top: 10%;
        top: 90%;
        left: 65%;
    }

    .downloadSection {
        margin-top: 10%;
    }
}

@media screen and (max-width: 850px) {
    .captionGame {
        top: 65%;
    }

    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .descrBtn:nth-child(1) {
        top: 75%;
        left: 18%;
    }

    .descrBtn:nth-child(2) {
        top: 75%;
        left: 60%;
    }
}

@media screen and (max-width: 600px) {
    .captionGame {
        top: 48%;
    }

    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .descrBtn:nth-child(1) {
        top: 65%;
        left: 8%;
    }

    .descrBtn:nth-child(2) {
        top: 65%;
        left: 53%;
    }
}



