.downloadSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downloadIns {
    width: 100%;
    color: #cbcbcb;
    font-size: 20px;
}

.downloadContainer {
    display: flex;
    flex-direction: row;
}

.downloadBox {
    display: flex;
    width: 40%;
    border-radius: 20px;
    border: 5px solid #6c5ce7;
}

/* download button */
.download-btn {
    background-color: #e16565;
    color: whitesmoke;
    outline: none;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px #999;
}

/* apply these color changes when hover over download button */
.download-btn:hover {
    background-color: #3e8bb7;
}

/* when button clicked, changed the shadow and move it y-axis by 4px */
.download-btn:active {
    background-color: #3e8bb7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.video-wrapper {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameVideo {
    display: none;
}

.video {
    aspect-ratio: auto;
    max-width: 80%;
    height: 80%;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 20px #192933);
}

.gameHeroImage {
    position: relative;
    height: 85vh;
    width: 100%;
}

.downloadMonoHero{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.captionGame {
    text-align: justify;
    top: 40vh;
    left: 4vh;
    color: white;
    position: absolute;
    z-index: 1;
    width: 30%;
    font-size: 1.5em;
    font-weight: normal;
}

.heroBtn {
    border-style: none;
    border-radius: 20px;
    background-color: #A77BF3;
    color: #93F5EC;
    font-size: 1em;
    font-weight: bolder;
}

.heroBtn:hover {
    background-color: #93F5EC;
    color: #A77BF3;
    cursor: pointer;
}

.heroBtn:nth-child(1) {
    top: 70vh;
    left: 4vh;
    position: absolute;
    z-index: 1;
    padding: 24px 38px;
}

.heroBtn:nth-child(2) {
    top: 70vh;
    left: 35vh;
    position: absolute;
    z-index: 1;
    padding: 24px 34px;
}


@media screen and (max-width: 1010px) {

    .captionGame {
        top: 75%; /* Set the top to 50% of the parent container */
        transform: translate(-50%, -50%); /* Center both horizontally and vertically */
        color: white;
        position: absolute;
        z-index: 1;
        width: 80%;
        font-size: 1.2em;
        font-weight: normal;
        text-align: center;
        left: 50%;
    }


    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .heroBtn:nth-child(1) {
        top: 90%;
        left: 20%;
    }

    .heroBtn:nth-child(2) {
        top: 90%;
        left: 65%;
    }
}

@media screen and (max-width: 850px) {
    .captionGame {
        top: 65%;
    }

    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .heroBtn:nth-child(1) {
        top: 75%;
        left: 18%;
    }

    .heroBtn:nth-child(2) {
        top: 75%;
        left: 60%;
    }
}

@media screen and (max-width: 600px) {
    .captionGame {
        top: 48%;
    }

    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .heroBtn:nth-child(1) {
        top: 65%;
        left: 8%;
    }

    .heroBtn:nth-child(2) {
        top: 65%;
        left: 53%;
    }
}



