
.video-wrapper {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameVideo {
    display: none;
}

.video {
    aspect-ratio: auto;
    max-width: 80%;
    height: 80%;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 20px #192933);
}

.gameHeroImage {
    background-image: url(../assets/screenshots/game/monoMan3.png);
    width: 100%;
    height: 100vh;
}

.downloadMonoHero{
}

.captionGame {
}

.heroBtn {
    border-style: none;
    border-radius: 20px;
    background-color: #A77BF3;
    color: #93F5EC;
    font-size: 1em;
    font-weight: bolder;
}

.heroBtn:hover {
    background-color: #93F5EC;
    color: #A77BF3;
    cursor: pointer;
}

.heroBtn:nth-child(1) {
    top: 70vh;
    left: 4vh;
    position: absolute;
    z-index: 1;
    padding: 24px 38px;
}

.heroBtn:nth-child(2) {
    top: 70vh;
    left: 35vh;
    position: absolute;
    z-index: 1;
    padding: 24px 34px;
}


@media screen and (max-width: 1010px) {

    .captionGame {
        top: 90%; /* Set the top to 50% of the parent container */
        transform: translate(-50%, -50%); /* Center both horizontally and vertically */
        color: white;
        position: absolute;
        z-index: 1;
        width: 80%;
        font-size: 1.2em;
        font-weight: normal;
        text-align: center;
        left: 50%;
    }


    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .heroBtn:nth-child(1) {
        margin-top: 10%;
        top: 90%;
        left: 20%;
    }

    .heroBtn:nth-child(2) {
        margin-top: 10%;
        top: 90%;
        left: 65%;
    }

    .downloadSection {
        margin-top: 10%;
    }
}

@media screen and (max-width: 850px) {
    .captionGame {
        top: 65%;
    }

    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .heroBtn:nth-child(1) {
        top: 75%;
        left: 18%;
    }

    .heroBtn:nth-child(2) {
        top: 75%;
        left: 60%;
    }
}

@media screen and (max-width: 600px) {
    .captionGame {
        top: 48%;
    }

    .downloadMonoHero {
        height: auto;
        width: 100%;
    }

    .heroBtn:nth-child(1) {
        top: 65%;
        left: 8%;
    }

    .heroBtn:nth-child(2) {
        top: 65%;
        left: 53%;
    }
}



