.headingWelcome {
    background: -webkit-linear-gradient(300deg, #93F5EC 20%, #A77BF3 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin-top: 80px;
    text-align: center;
    width: 100%;
    transition: all 0.3s;
}


@media screen and (max-width: 600px) {
    .headingWelcome {
        margin-top: 90px;
        font-size: 3rem;
        transition: all 0.3s;
    }
}

.instructionText {
    color: #ADBAC7;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    width: 100%;
    margin: 40px auto;
    transition: all 0.3s;
}


form {
    width: 50%;
    margin: 200px 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 5px ridge white;
}



label {
    color: white;
    font-weight: bold;
}

form input {
    background: rgba(255, 255, 255, 0.19);
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    color: white;
}


#score-comparison{
    border-radius: 5px;
    font-size: 20px;
    background-color: #3e8bb7;
    color: #fff;
}

.submitStats {
    display: block;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #A77BF3;
    color: #93F5EC;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
}

.submitStats:hover{
    background-color: #93F5EC;
    color: #A77BF3;
    cursor: pointer;
}